
    .container{

      
    }
  
  .h1{
    text-align: center;
    font-size: 90px;
  }
  .text{
    margin-top: -5%;

  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 10% 10%; 
    padding-right: 20px;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    justify-content: space-between;
  }
  nav ul li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
    
    
  }
  #flag{
    height: 30px;
     margin-top: -6%;
    border-radius: 5px;
    
    

  }
  .brick{
    background-color: orange;
    justify-content: space-between;
    display: flex;
    padding: 15px;
    margin-top: -10%;
  }
  #logo{
    font-size: 30px;
    font-weight: bold;
  }
  #log{
    padding: 10px 70px;
    border-radius: 5px;
  }
  #arch{
    padding: 10px 150px;
    border-radius: 5px;
  }
  #g1{
    height: 450px;
    width: 800px;
    margin-bottom: -37%;

  }
  #new{
    border: none;
    border-radius: 10px;
    padding: 10px ;
    color: white;
    background-color: yellow;
  }
  #rings{
    color: white;
    font-weight: bold;
  }
  .con{
    margin-left: 70%;
    text-align: center;
    margin-top: -8%;
    border: solid;
    border-radius: 5px;
    padding: 5px 0.5px;
  }
  #series{
    padding: 10px 85px;
    border-radius: 5px
  }
  #select{
    padding: 10px 90px;
    border-radius: 5px;
    background-color: yellow;
  }
  #rec{
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
    font-size: 30px;
  }
  #ID{
    padding: 8px;
    border-radius: 15px;
    background-color: red;
  }
  #eart{
    margin-left: 12%;
    padding: 5px 10px;
  }
  #tesla{
   padding: 8px;
    border-radius: 15px;
    background-color: red;
    margin-left: 8%;
  }
  #shety{
    margin-left: 10%;
    padding: 5px 10px; 
  }
  #teckla{
     padding: 8px;
    border-radius: 15px;
    background-color: red;
    margin-left: 5%;
  }
  #love{
    margin-left: 10%;
    padding: 5px 10px; 
  }
  #kasio{
     padding: 8px;
    border-radius: 15px;
    background-color: red;
    margin-left: 5%;
  }
  #win{
    margin-left: 10%;
    padding: 5px 10px;
  }
  #b2{
    margin-left: 5%;
    margin-bottom: 1%;
  }
  #b3{
    margin-left: 5%;
  }
#b4{
  margin-left: 5%;
  margin-bottom: 2%;
}
#tie{
  margin-left: 30%;
  margin-top: -3%;
  font-weight: bold;
}
#at{
  
}
#the{
  margin-left: 80%;
  margin-top: -3%;
  font-weight: bold;
}
#palm{
  margin-left: 5%;
}
#trim{
  margin-left: 20%;
  margin-top: -3%;

}
#code{
  margin-left: 41%;
  margin-top: -3%;
}
#hen{
  margin-left: 57%;
  margin-top: -3%;
}
#index{
  margin-left: 68%;
  margin-top: -3%;
}
#line{
  margin-left: 85%;
  margin-top: -1%;
}
#hidden{
  color: yellow;
}
#dio{
  margin-top: -0.5%;
  font-weight: bold;
}
#a{
color: red;
font-weight: bold;
}
#b{
  margin-left: 30%;
  margin-top: -4%;
font-weight: bold;
  
}
#c{
  margin-left: 55%;
  margin-top: -3%;
font-weight: bold;
}
#d{
  margin-left: 85%;
  margin-top: -2%;
font-weight: bold;
}
#we{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
#b5{
  height: 240px;
  
}
#b6{
  margin-left: 5%;

}
#b7{
  margin-left: 5%;
}
#b8{
  margin-left: 5%;
}
#clone{
  margin-top: -1%;
  font-weight: bold;
}

#mak{
  margin-left: 25%;
  font-weight: bold;
  margin-top: -2%;
}
.c2{
  margin-left: 29%;
  margin-top: -1%;
  font-weight: bold;
}
#tul{
  margin-left: 52%;
  font-weight: bold;
  margin-top: -5%;
}
.c3{
  margin-left: 60%;
  font-weight: bold;
  margin-top: -1%;
}
#gan{
  margin-left: 82%;
  margin-top: -4%;
  font-weight: bold;

}
.c4{
  margin-left: 87%;
  margin-top: -1%;
  font-weight: bold;
}
#p1{
  margin-left: 10%;
  margin-top: -1%;
}
#p2{
  margin-left: 40%;
  margin-top: -2%;
}
#p3{
  margin-left: 55%;
  margin-top: -2%;
}
#p4{
  margin-left: 78%;
  margin-top: -3%;
}
.series{
  text-align: center;
  font-size: 28px;
}
.b9{
  border-radius: 30px;
  height: 250px;
}
.b12{
  border-radius: 30px;
  height: 250px;
  margin-left: 2%;
}
.b13{
  border-radius: 30px;
  height: 250px;
  margin-left: 2%;
  
}
.b14{
  border-radius: 30px;
  height: 250px; 
  width: 370px;
  margin-top: 3%;
}
.b15{
  border-radius: 30px;
  height: 230px;
  margin-left: 2%;
  
}
.b16{
  border-radius: 30px;
  height: 220px;
  margin-left: 2%;
}
.b18{
  border-radius: 30px;
  height: 290px;
  width: 320px;
  margin-top: 3%;
  
}
.b20{
  border-radius: 30px;
  height: 280px;
  margin-left: 5%;
  width: 420px;
}
.b21{
  border-radius: 30px;
  height: 280px;
  margin-left: 1%;
  width: 420px;
}
.more{
  margin-top: 2%;
  margin-left: 40%;
  padding: 10px 60px;
  font-weight: bold;
  background-color: yellow;
  border-radius: 30px;
}
#dis{
  text-align: center;
  font-weight: bold;
  margin-top: 5%;
  font-size: 30px;
  margin-top: 1%;
}
.b23{
border-radius: 30px;
height: 250px;
}
.b24{
  margin-left: 3%;
  height: 250px;
  border-radius: 30px;

}
.b25{
  margin-left: 3%;
  height: 250px;
  border-radius: 30px;
  
}
.on{
  margin-left: 5%;
  font-weight: bold;
}
.promo{
  margin-left: 40%;
  font-weight: bold;
  margin-top: -4%;
}
.explore{
  margin-left:75% ;
  margin-top: -3%;
  font-weight: bold;
}
#rl{
  margin-left: 50%;
  font-size: 60px;
}
.get{
  display: flex;
  background-color: yellow;
  padding: 10px;
}
#your{
  margin-left: 40%;
  padding: 5px 98px;
}
.count{
  font-weight:bold ;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer{
  display: flex;
  justify-content: space-between;
  background-color: navy;
  color: white;
}
.house{
  display: flex;
}
.cookies{
  display: flex;
  font-weight: bold;
  background-color: navy;
  
}
#es{
  margin-left: 5%;
}
#copy{
  margin-left: 5%;
}
#range{
  margin-left: 45%;
  
}

  




  


